<div class="d-flex mb-4 p-heading" data-controller="nav">
  <p class=""  data-url="<%= appointments_path %>">
    <%= link_to "Today", appointments_path, class: "nav-link ",
    data: { nav_target: "today link", action: "click->nav#switch" } %>
  </p>
  <p class="ps-4 "  data-url="<%= upcoming_appointments_path %>">
    <%= link_to "Upcoming", upcoming_appointments_path, class: "nav-link" ,
    data: { nav_target: "upcoming link", action: "click->nav#switch" }%>
  </p>
  <p class="ps-4 "  data-url="<%= past_appointments_path %>">
    <%= link_to "Past", past_appointments_path, class: "nav-link" ,
    data: { nav_target: "past link", action: "click->nav#switch" }%>
  </p>
</div>
