<!-- app/views/shared/_sidebar.html.erb -->
<div class="sidebar">
  <div class="brand">
    <div class="brand-logo"></div>
    <span class="brand-name">363 PHOTOGRAPHY</span>
  </div>

  <aside class="g-sidebar">
  <ul class="g-sidebar__nav">
    <li>
      <%= link_to photo_shoots_consent_path, class: "g-sidebar__nav-item #{controller_name == 'photo_shoots' && action_name == 'consent' ? 'g-sidebar__nav-item--active' : ''}" do %>
        <div class="g-sidebar__nav-icon <%= controller_name == 'photo_shoots' && action_name == 'consent' ? 'g-sidebar__nav-icon--active' : '' %>"></div>
        <span class="g-sidebar__nav-text">Consent</span>
      <% end %>
    </li>

    <li>
      <%= link_to appointments_path, class: "g-sidebar__nav-item #{controller_name == 'appointments' ? 'g-sidebar__nav-item--active' : ''}" do %>
        <div class="g-sidebar__nav-icon <%= controller_name == 'appointments' ? 'g-sidebar__nav-icon--active' : '' %>"></div>
        <span class="g-sidebar__nav-text">Appointments</span>
      <% end %>
    </li>

    <li>
      <%= link_to photo_shoots_path, class: "g-sidebar__nav-item #{controller_name == 'photo_shoots' && action_name != 'consent' ? 'g-sidebar__nav-item--active' : ''}" do %>
        <div class="g-sidebar__nav-icon <%= controller_name == 'photo_shoots' && action_name != 'consent' ? 'g-sidebar__nav-icon--active' : '' %>"></div>
        <span class="g-sidebar__nav-text">Photoshoots</span>
      <% end %>
    </li>

    <li>
      <%= link_to sales_path, class: "g-sidebar__nav-item #{controller_name == 'sales' ? 'g-sidebar__nav-item--active' : ''}" do %>
        <div class="g-sidebar__nav-icon <%= controller_name == 'sales' ? 'g-sidebar__nav-icon--active' : '' %>"></div>
        <span class="g-sidebar__nav-text">Sales</span>
      <% end %>
    </li>

    <li>
      <%= link_to expenses_path, class: "g-sidebar__nav-item #{controller_name == 'expenses' ? 'g-sidebar__nav-item--active' : ''}" do %>
        <div class="g-sidebar__nav-icon <%= controller_name == 'expenses' ? 'g-sidebar__nav-icon--active' : '' %>"></div>
        <span class="g-sidebar__nav-text">Expenses</span>
      <% end %>
    </li>

    <li>
      <%= link_to customers_path, class: "g-sidebar__nav-item #{controller_name == 'customers' ? 'g-sidebar__nav-item--active' : ''}" do %>
        <div class="g-sidebar__nav-icon <%= controller_name == 'customers' ? 'g-sidebar__nav-icon--active' : '' %>"></div>
        <span class="g-sidebar__nav-text">Contacts</span>
      <% end %>
    </li>

    <li>
      <%= link_to operations_path, class: "g-sidebar__nav-item #{controller_name == 'operations' ? 'g-sidebar__nav-item--active' : ''}" do %>
        <div class="g-sidebar__nav-icon <%= controller_name == 'operations' ? 'g-sidebar__nav-icon--active' : '' %>"></div>
        <span class="g-sidebar__nav-text">Reports</span>
      <% end %>
    </li>

  </ul>

  <div class="g-sidebar__footer">
    <%= link_to "New Booking", new_appointment_path, class: "g-sidebar__new-booking" %>
    <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "g-sidebar__logout" %>
  </div>
</aside>

  <div class="logout">
    <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "logout-link" do %>
      <span class="logout-icon"><i class="fas fa-sign-out-alt"></i></span>
      <span class="logout-text">Log out</span>
    <% end %>
  </div>
</div>
