<div data-controller="sidebar" class="sidebar-container">
  <!-- Hamburger button for mobile -->
  <button data-action="sidebar#toggle" class="hamburger-btn d-lg-none">
    <i class="fas fa-bars"></i>
  </button>

  <!-- Sidebar -->
  <div class="sidebar" data-sidebar-target="sidebar" data-controller="active-link">
    <div class="sidebar-header">
      <%= image_tag "james-lee-YIy1cd3xN4w-unsplash.jpg", class: "avatar", alt: "dropdown menu" %>
      <h2><a href="#">363 PHOTOGRAPHY</a></h2>
    </div>

    <ul class="sidebar-menu">
      <li>
        <%= link_to photo_shoots_consent_path, data: {active_link_target: "link"} do %>
          <i class="fas fa-file-signature"></i>
          <span>Consent</span>
        <% end %>
      </li>

      <% if current_user.not_social? %>
        <li>
          <%= link_to appointments_path, data: {active_link_target: "link"} do %>
            <i class="fas fa-calendar-alt"></i>
            <span>Appointments</span>
          <% end %>
        </li>

        <li>
          <%= link_to photo_shoots_path, data: {active_link_target: "link"} do %>
            <i class="fas fa-camera"></i>
            <span>Photoshoots</span>
          <% end %>
        </li>

        <li>
          <%= link_to expenses_path, data: {active_link_target: "link"} do %>
            <i class="fas fa-receipt"></i>
            <span>Expenses</span>
          <% end %>
        </li>

        <li>
          <%= link_to sales_path, data: {active_link_target: "link"} do %>
            <i class="fas fa-chart-line"></i>
            <span>Sales</span>
          <% end %>
        </li>

        <li>
          <%= link_to customers_path, data: {active_link_target: "link"} do %>
            <i class="fas fa-address-book"></i>
            <span>Contact</span>
          <% end %>
        </li>

        <li>
          <%= link_to operations_path, data: {active_link_target: "link"} do %>
            <i class="fas fa-chart-bar"></i>
            <span>Daily Report</span>
          <% end %>
        </li>
      <% end %>
    </ul>

    <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "logout-link" do %>
      <i class="fas fa-sign-out-alt"></i>
      <span>Log out</span>
    <% end %>
  </div>
</div>
