<%# <i class="fa-solid fa-bars siderbar-mobile"></i> %>
<div class="sidebar " data-controller="active-link">
      <!-- Sidebar content goes here -->
  <h2><%= image_tag "james-lee-YIy1cd3xN4w-unsplash.jpg", class: "avatar", alt: "dropdown menu" %>
    <a href="#">363 PHOTOGRAPHY</a>
  </h2>
  <ul>
    <li><%= link_to 'Consent', photo_shoots_consent_path, data: {active_link_target: "link"} %></li>
    <li><%= link_to 'Appointments', appointments_path, data: {active_link_target: "link"} if current_user.not_social? %></li>
    <li><%= link_to 'Photoshoots', photo_shoots_path, data: {active_link_target: "link"} if current_user.not_social? %></li>
    <%# <li><a data-active-link-target="link" href="#">Customers</a></li> %>
    <li><%= link_to 'Expenses', expenses_path, data: {active_link_target: "link"} if current_user.not_social? %></li>
    <li><%= link_to 'Sales', sales_path, data: {active_link_target: "link"} if current_user.not_social? %></li>
    <li><%= link_to 'Contact', customers_path, data: {active_link_target: "link"} if current_user.not_social? %></li>
    <li><%= link_to 'Daily Report', operations_path, data: {active_link_target: "link"} if current_user.not_social? %></li>
  </ul>
  <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>

</div>
