<div class="container" data-controller="calendly" >
  <%= render "shared/sidebar" %>
  <section class="content">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2><%= @customer.name.capitalize %></h2>
      <%= link_to 'New Contact', new_customer_path, class: "btn-photoshoot btn" %>
    </div>
    <div class="d-flex justify-content-between align-items-start">
      <div>
        <h6>Past Photoshoots</h6><hr>
        <% if @appointments.present? %>
          <table class="bordered-table" data-calendly-target="table">
            <thead>
              <th>TYPE</th>
              <th>PHOTOGRAPHER</th>
              <th>EDITOR</th>
              <th>STATUS</th>
              <th>DATE</th>
            </thead>
            <tbody>
              <% @appointments.each do |appointment| %>
                <% if appointment.photo_shoot %>
                <tr>
                  <td><%= appointment.photo_shoot.type_of_shoot %></td>
                  <td><%= appointment.photo_shoot.photographer.name if appointment.photo_shoot.photographer %></td>
                  <td><%= appointment.photo_shoot.editor.name if appointment.photo_shoot.editor %></td>
                  <td>
                    <%= appointment.photo_shoot.status%>
                  </td>
                  <td>
                    <%= appointment.photo_shoot.date.strftime("%A, %d %B %Y")%>
                  </td>
                </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p>No photoshoots linked to this contact</p>
        <% end %>
        <h6 class="mt-5">Past Orders</h6><hr>
        <% if @customer.sales.present? %>
          <table class="bordered-table" data-calendly-target="table">
            <thead>
              <th>PRODUCT</th>
              <th>AMOUNT</th>
              <th>STATUS</th>
              <th>METHOD</th>
              <th>DATE</th>
            </thead>
            <tbody>
            <% @customer.sales.each do |sale| %>
              <% if sale %>
              <tr>
                <td><%= sale.product_service_name %></td>
                <td><%= sale.amount_paid %></td>
                <td><%= sale.payment_type %></td>
                <td>
                  <%= sale.payment_method%>
                </td>
                <td>
                  <%= sale.date.strftime("%A, %d %B %Y")%>
                </td>
              </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
        <% else %>
          <p>No Sales linked to this contact</p>
        <% end %>
      </div>
      <div>
        <h6>Contact Info</h6><hr>
        <div class="d-flex">
          <h2><%= image_tag "james-lee-YIy1cd3xN4w-unsplash.jpg", class: "avatar", alt: "dropdown menu" %>
          </h2>
          <div class="ps-2">
            <p><%= @customer.name.capitalize %></p>
            <p><%= @customer.email %></p>
          </div>
        </div>
        <div class="mt-4">
          <div class="mt-2 d-flex justify-content-between">
            <p>Visit Count</p>
            <p><%= @customer.visits_count + 1 %></p>
          </div>
          <div class="mt-2 d-flex justify-content-between">
            <p>Total Spent</p>
            <p><%= @customer.sales.sum(:amount_paid) %></p>
          </div>
          <div class="mt-2">
            <p>Email <span class="ps-5"><%= @customer.email %></span></p>
          </div>
          <div class="mt-2 d-flex justify-content-between">
            <p>Phone</p>
            <p><%= @customer.phone_number %></p>
          </div>
          <div class="mt-2 d-flex justify-content-between">
            <p>Last Visit </p>
            <p><%= @customer.sales.maximum(:date).strftime("%A, %d %B %Y") if @customer.sales.present?  %></p>
          </div>

        </div>
      </div>
    </div>
  </section>

</div>
