<!-- app/views/appointments/index.html.erb -->
  <table class="bordered-table" data-calendly-target="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Authorize to post </th>
        <th>Type</th>
        <th>Branch</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% @appointments.each do |appointment| %>
        <tr>
          <td><%= appointment.name.split(" ").map(&:capitalize).join(" ") %></td>
          <td>
            <% social_consent = appointment.questions.find { |q| q.question == 'Do you give us consent to share your pictures on our social media platform (Instagram, Threads, TikTok e.t.c) ?' } %>
            <% if social_consent %>
              <%= social_consent.answer %>
            <% end %>
          </td>
          <td>
            <% type_of_shoots = appointment.questions.find { |q| q.question == 'Type of shoots' || q.question == 'Type of shoot' } %>
            <% if type_of_shoots %>
              <%= type_of_shoots.answer %>
            <% end %>
          </td>
          <td><%= appointment.mapped_location %></td>
          <td>
            <p><%= appointment.start_time.strftime("%A, %d %B %Y") %></p>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
