<!-- app/views/appointments/index.html.erb -->

<% @appointments.each do |date, appointments| %>
  <div class="inner-card ps-4 p-heading">
    <p class="fw-bold"><%= date.strftime("%A, %d %B %Y") %></p>
  </div>
  <table class="bordered-table" data-calendly-target="table">
    <thead>
      <tr>
        <th>Customer Name</th>
        <th>Do you authorize us to post on social media? </th>
        <th>Type</th>
        <th>Branch</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% appointments.each do |appointment| %>
        <tr>
          <td><%= appointment.name %></td>
          <td>
            <% social_consent = appointment.questions.find { |q| q.question == 'Do you give us consent to share your pictures on our social media platform (Instagram, Threads, TikTok e.t.c) ?' } %>
            <% if social_consent %>
              <%= social_consent.answer %>
            <% end %>
          </td>
          <td>
            <% type_of_shoots = appointment.questions.find { |q| q.question == 'Type of shoots' || q.question == 'Type of shoot' } %>
            <% if type_of_shoots %>
              <%= type_of_shoots.answer %>
            <% end %>
          </td>
          <td><%= appointment.location %></td>
          <td>
            <p><%= link_to 'More Details', appointment_path(appointment) %></p>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
