<div class="container" data-controller="calendly" >
  <%= render "shared/sidebar" %>
  <section class="content">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1>Consent Details</h1>
      <div class="row justify-content-center w-50">
        <div class=" my-3">
          <%= form_with url: photo_shoots_consent_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
                  params[:query],
                  class: "form-control search-border",
                  placeholder: "Search Name or Email "
              %>
          <% end %>
        </div>
      </div>
    </div>
    <div >
        <%= render "consent", appointments: @appointments %>
    </div>
    <%= paginate @appointments %>
  </section>

</div>
