<div class="container">
  <section>
    <h1>I am a Customer Photoshoot Info</h1>
    <p><%= @photo_shoot.appointment.name %></p>
    <p><%= @photo_shoot.appointment.location %></p>
    <p><%= @photographer%></p>
    <p><%= @editor %></p>
    <p><%= @customer_service %></p>
    <p><%= '%.0f' % @photo_shoot.payment_total%></p>
    <p><%= @photo_shoot.number_of_selections%></p>
    <p><%= @photo_shoot.number_of_outfits%></p>
    <p><%= @photo_shoot.appointment.email%></p>

  </section>
</div>
