<div class="container" data-controller="calendly" >
  <%= render "shared/sidebar" %>
  <section class="content">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2><%= @gallery.title.capitalize %></h2>
      <%= link_to 'New Photos', edit_appointment_gallery_path(@appointment, @gallery), class: "btn-photoshoot btn" %>
    </div>
    <div class="d-flex justify-content-between">
      <%= link_to "Photoshoot Info", appointment_path(@appointment), class: "black-link" %>
      <div>
        <p>Editor: <%= @appointment.photo_shoot.editor.name if @appointment.photo_shoot.editor %></p>
        <p>Photographer: <%= @appointment.photo_shoot.photographer.name if @appointment.photo_shoot.photographer %></p>
      </div>
    </div>
    <div>
      <div class ="d-flex flex-wrap custom-flex">
        <% if @gallery.photos.attached? %>
            <% @gallery.photos.each_with_index  do |photo, index| %>
              <div >
                <a href="#" data-bs-toggle="modal" data-bs-target="#carouselModal" data-bs-slide-to="<%= index %>">
                  <%= image_tag photo.variant(resize_to_limit: [300, 300]), class: 'gallery-img' %>
                </a>
              </div>
            <% end %>
        <% else %>
            <p>No photos available</p>
        <% end %>
      </div>
    </div>

  </section>
</div>
<div class="modal fade" id="carouselModal" tabindex="-1" aria-labelledby="carouselModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen">
    <div class="modal-content">

      <div class="modal-body">
        <!-- Bootstrap Carousel -->
        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner ">
            <div class="modal-header">
              <%# <h5 class="modal-title" id="carouselModalLabel">Download</h5> %>
            </div>
            <% @gallery.photos.each_with_index do |photo, index| %>
              <div class=" carousel-item <%= 'active' if index == 0 %>">
                <div class="img_grid position-relative">
                  <%= image_tag photo.variant(resize_to_limit: [1000, 1000], format: "webp", quality: 100), class: '' %>
                  <a href="<%= download_gallery_path(@gallery, photo.id) %>" class="download-icon" title="Download Image">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                      <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                      <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                    </svg>
                  </a>
                  <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                  </svg></button>
                  <p class="photo-name"><%= photo.blob.filename.to_s %></p>
                </div>
              </div>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
