<div class="container">
  <%= render "shared/sidebar" %>
  <section class="content">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1>Sessions</h1>
      <div class="row justify-content-center w-50">
        <div class=" my-3">
          <%= form_with url: dynamic_appointments_url, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
                  params[:query],
                  class: "form-control search-border",
                  placeholder: "Customer Name or Email Address"
              %>
          <% end %>
        </div>
      </div>
      <%= link_to 'New Booking', new_appointment_path, class: "btn-photoshoot btn" %>
    </div>
    <div>
        <%= render "shared/navigation" %>
        <% if @appointments.present? %>
          <%= render "appointment_table", appointments: @appointments %>
        <% else %>
          <div class="d-flex justify-content-center align-items-center">
            <p class="fw-bold">No bookings available for this period!</p>
          </div>
        <% end %>
    </div>
    <% if @appointments.respond_to?(:total_pages) %>
      <%= paginate @appointments, class: "mt-4" %>
    <% end %>
  </section>

</div>
