<table class="bordered-table" data-calendly-target="table">
  <thead>
    <tr>
      <th>NAME</th>
      <%= '<th>PHOTO</th>'.html_safe if @url == 'past'%>
      <th>TYPE</th>
      <th>PHONE</th>
      <th>DATE</th>
      <%= '<th>TIME</th>'.html_safe if @url != 'past'%>
      <th>MORE DETAILS</th>
    </tr>
  </thead>
  <tbody>
    <% appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.name.split(" ").map(&:capitalize).join(" ") %></td>
        <% if appointment.galleries.exists? && @url == 'past' %>
          <%= '<td><p class="attached">ATTACHED</p></td>'.html_safe %>
        <% elsif !appointment.galleries.exists? && @url == 'past' %>
          <%= '<td><p class="unattached">UNATTACHED</p></td>'.html_safe %>
        <% end %>
        <td>
          <% type_of_shoots = appointment.questions.find { |q| q.question == 'Type of shoots' || q.question == 'Type of shoot' } %>
          <% if type_of_shoots %>
            <%= type_of_shoots.answer %>
          <% end %>
        </td>
        <td>
          <% phone_number = appointment.questions.find { |q| q.question == 'Phone number' } %>
          <% if phone_number %>
            <%= phone_number.answer %>
          <% end %>
        </td>
        <td><%= appointment.start_time.strftime("%A, %d %B %Y")  %></td>
        <% unless @url == 'past'  %>
          <td><%= appointment.start_time.in_time_zone('West Central Africa').strftime("%I:%M %p")%></td>
        <% end %>
        <td>
          <p><%= link_to 'Details', appointment_path(appointment) %></p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
