<table class="bordered-table" data-calendly-target="table">
  <thead>
    <tr>
      <th>NAME</th>
      <%= '<th>PHOTO</th>'.html_safe if @url.include?("past")%>
      <th>TYPE</th>
      <th>PHONE</th>
      <th>DATE</th>
      <%= '<th>TIME</th>'.html_safe if !@url.include?("past")%>
      <th>MORE DETAILS</th>
    </tr>
  </thead>
  <tbody>
    <% appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.name.split(" ").map(&:capitalize).join(" ") %></td>
        <td>
          <% if @url.include?("past") %>
            <% if appointment.galleries.any? { |gallery| gallery.photos.attached? } %>
              <p class="attached">ATTACHED</p>
            <% else %>
              <p class="unattached">UNATTACHED</p>
            <% end %>
          <% end %>
        </td>

        <td>
          <%= find_question_answer(appointment, 'Type of shoots') %>
        </td>
        <td>
          <%= find_question_answer(appointment, 'Phone number') %>
        </td>
         <td><%= appointment.formatted_start_time %></td>
        <% unless @url.include?("past")  %>
           <td><%= appointment.formatted_time %></td>
        <% end %>
        <td>
          <p><%= link_to 'Details', appointment_path(appointment) %></p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
