<!-- app/views/appointments/_appointment.html.erb -->
<div class="g-content__toolbar">
  <div class="g-content__tabs">
    <%= link_to "Today", appointments_path, class: "g-content__tab #{current_page?(appointments_path) ? 'g-content__tab--active' : ''}" %>
    <%= link_to "Upcoming", upcoming_appointments_path, class: "g-content__tab #{current_page?(upcoming_appointments_path) ? 'g-content__tab--active' : ''}" %>
    <%= link_to "In Progress", in_progress_appointments_path, class: "g-content__tab #{current_page?(in_progress_appointments_path) ? 'g-content__tab--active' : ''}" %>
    <%= link_to "Past", past_appointments_path, class: "g-content__tab #{current_page?(past_appointments_path) ? 'g-content__tab--active' : ''}" %>
  </div>
</div>

<div class="g-table__header">
  <div class="g-table__col--name">Name</div>
  <div class="g-table__col--type">Type</div>
  <% if current_page?(in_progress_appointments_path) %>
    <div class="g-table__col--photographer">Photographer</div>
    <div class="g-table__col--editor">Editor</div>
    <div class="g-table__col--status">Status</div>
  <% else %>
    <div class="g-table__col--outfit">No of outfits</div>
  <% end %>
  <div class="g-table__col--location">Location</div>
  <div class="g-table__col--phone">Phone</div>
  <div class="g-table__col--time">Time</div>
</div>

<% if @appointments.present? %>
  <% @appointments.each do |appointment| %>
    <%= link_to appointment_path(appointment), class: "g-table__row" do %>
      <div class="g-table__status <%= appointment.no_show ? 'g-table__status--pending' : (appointment.status ? 'g-table__status--confirmed' : 'g-table__status--cancelled') %>"></div>

      <div class="g-table__col--name">
        <div class="g-table__name-container">
          <div class="g-table__name"><%= appointment.name %></div>
          <div class="g-table__date"><%= appointment.formatted_start_time %></div>
        </div>
      </div>

      <div class="g-table__col--type g-table__cell">
        <%= find_question_answer(appointment, 'Type of shoots') %>
      </div>

      <% if current_page?(in_progress_appointments_path) %>
        <div class="g-table__col--photographer g-table__cell">
          <%= appointment.photo_shoot&.photographer&.name %>
        </div>

        <div class="g-table__col--editor g-table__cell">
          <%= appointment.photo_shoot&.editor&.name %>
        </div>

        <div class="g-table__col--status g-table__cell">
          <span class="g-table__status-badge g-table__status-badge--<%= appointment.photo_shoot&.status&.downcase %>">
            <%= appointment.photo_shoot&.status %>
          </span>
        </div>
      <% else %>
        <div class="g-table__col--outfit g-table__cell">
          <%= Price.find(appointment.price_id).outfit.split(" ").first if appointment.price_id.present? %>
        </div>
      <% end %>

      <div class="g-table__col--location g-table__cell">
        <%= appointment.location %>
      </div>

      <div class="g-table__col--phone g-table__cell">
        <%= find_question_answer(appointment, 'Phone number') %>
      </div>

      <div class="g-table__col--time g-table__cell">
        <% if !appointment.status %>
          <span class="g-table__cancelled">CANCELLED</span>
        <% else %>
          <%= appointment.formatted_time %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div class="g-content__empty">
    <% if current_page?(in_progress_appointments_path) %>
      <p>No work in progress!</p>
    <% else %>
      <p>No bookings available for this period!</p>
    <% end %>
  </div>
<% end %>

<% if @appointments.respond_to?(:total_pages) %>
  <div class="g-content__pagination">
    <%= paginate @appointments %>
  </div>
<% end %>