<table class="bordered-table" data-calendly-target="table">
        <thead>
          <tr>
            <th>Customer Name</th>
            <th>Phone number</th>
            <th>Appointment Time</th>
            <th>Type of Shoot</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% appointments.each do |appointment| %>
            <tr>
              <td><%= appointment.name %></td>
              <td><% phone_number = appointment.questions.find { |q| q.question == 'Phone number' } %>
                    <% if phone_number %>
                      <%= phone_number.answer %>
                    <%end%></td>
              <td><%= appointment.start_time.in_time_zone('West Central Africa').strftime("%I:%M %p")%>
                    - <%= appointment.end_time.in_time_zone('West Central Africa').strftime("%I:%M %p") if appointment.end_time %></td>
              <td><% type_of_shoots = appointment.questions.find { |q| q.question == 'Type of shoots' || q.question == 'Type of shoot'} %>
                    <% if type_of_shoots %>
                      <%= type_of_shoots.answer %>
                    <% end %></td>
              <td>
                <p><%= link_to 'Create PhotoShoot', new_appointment_photo_shoot_path(appointment) %></p>
                <p><%= link_to 'Mark as No-Show', mark_no_show_appointment_path(appointment), method: :patch, data: { confirm: 'Are you sure?' } %></p>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
