<div data-controller="calendar">
  <div class="d-flex justify-content-center align-items-center">
    <div data-calendar-target="calendar"></div>
  </div>
  <%= form.hidden_field :selected_date, value: '', id: 'selected_date_input' %>
  <%= form.hidden_field :price_id, value: params[:price_id] || @appointment.price_id %>
  <%= form.hidden_field :start_time, id: 'start_time_input', required: true %>

  <div class="d-flex flex-column py-3">
    <%= form.label :location, "Studio Location:" %>
    <%= form.select :location, options_for_select(['Ajah', 'Ikeja', 'Surulere']), { prompt: 'Choose your location' }, class: "w-100 form-data__input" %>
  </div>

  <button type="button" id="redirect_button" class="btn_new btn btn-photoshoot mt-2" data-action="click->calendar#redirectToAvailableHours">
    See Available Hours
  </button>
</div>
