<!-- app/views/bookings/available_hours.html.erb -->
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;" data-controller="calendar">
  <div class="p-2">
    <h2 class="logo_heading mb-5"><%= image_tag "james-lee-YIy1cd3xN4w-unsplash.jpg", class: "avatar", alt: "dropdown menu" %>
      <a href="#" class="logo_link">363 PHOTOGRAPHY</a>
    </h2>
    <p class="text-center">Available Hours for <%= format_date_string(params[:date]) %></p>
    <%= form_with model: @appointment, url: new_customer_appointments_path, method: :get, local: true do |form| %>
      <div data-calendar-target="calendar" style="display: none;"></div>
      <div data-calendar-target="timeSlots" class="time_slot">
        <% @available_hours.each do |slot| %>
          <div class="text-center">
            <button data-action="click->calendar#selectTime" data-slot="<%= slot %>" data><%= slot %></button>
            <%= form.submit "Next", class: "next-btn hidden", data: { action: "click->calendar#nextTime" } %>
          </div>
        <% end %>
      </div>
      <%= form.hidden_field :start_time, value: select_datetime, id: 'start_time_input' %>
    <% end %>
  </div>
</div>
