<div class="container" data-controller="calendly" >
  <%= render "shared/sidebar" %>
  <section class="content">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1>Scheduled Appointments</h1>
      <div class="row justify-content-center w-50">
        <div class=" my-3">
          <%= form_with url: appointments_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
                  params[:query],
                  class: "form-control search-border",
                  placeholder: "Customer Name or Phone Number"
              %>
          <% end %>
        </div>
      </div>
      <%= link_to '<i class="fa-solid fa-plus"></i> Add'.html_safe, new_appointment_path, class: "btn-photoshoot btn" %>
    </div>
    <div class="card">
        <%= render "shared/navigation" %>
        <%= render "appointment_table", appointments: @appointments %>
    </div>
  </section>

</div>
