<!-- app/views/appointments/select_price.html.erb -->
<div class="public-header">
  <div class="back-link">
    <i class="fa-solid fa-chevron-left"></i> <%= link_to "back", :back %>
  </div>
  <div class="public-logo">
    <div class="public-logo-icon"></div>
    <div class="public-logo-text">363 PHOTOGRAPHY</div>
  </div>
</div>

<h1 class="package-title">Choose a Package for <%= @shoot_type %></h1>

<% @prices.each do |price| %>
  <div class="pricing">
    <a href="<%= booking_appointments_path(price_id: price.id) %>" style="text-decoration: none; color:black;">
      <div class="card-trip">
          <%= price.photo.attached? ? cl_image_tag(price.photo.key): image_tag("https://images.unsplash.com/photo-1736354220560-420e5b075881?q=80&w=500&auto=format&fit=crop") %>
        <div class="card-trip-infos">
          <div>
            <h2><%= price.outfit %> Outfit</h2>
            <p><%= price.description %></p>
            <div class="pricing__bottom-item">
              <p>Edited Copies: <%= price.included %></p>
              <p>Unedited Copies: Available on request</p>
              <p>Hardcopies/Print: Not included in pricing</p>
            </div>
          </div>
          <h2 class="card-trip-pricing">₦<%= price.amount %></h2>
        </div>
      </div>
    </a>
  </div>
<% end %>
