<div class="container">
  <h2 class="logo_heading mb-4">
    <%= image_tag "james-lee-YIy1cd3xN4w-unsplash.jpg", class: "avatar", alt: "dropdown menu" %>
    <a href="#" class="logo_link">363 PHOTOGRAPHY</a>
  </h2>
  <div class="back_link">
    <i class="fa-solid fa-chevron-left"></i> <%= link_to "back", :back %>
  </div>
  <h4 class="my-4 fw-bold">Choose a Package for <%= @shoot_type %></h4>
    <div class="d-flex flex-column justify-content-center align-items-start">
      <% @prices.each do |price| %>
        <div class="pricing">
          <a href="<%= booking_appointments_path(price_id: price.id) %>" style="text-decoration: none; color:black;">
            <div class="pricing__top-item">
              <p><%= price.outfit %></p>
              <p>#<%= price.amount %></p>
            </div>

            <div class="pricing__description">
              <p><%= price.description %></p>
            </div>

            <div class="pricing__bottom-item">
              <p>Edited Copies: <%= price.included %></p>
              <p>Unedited Copies: Available on request</p>
              <p>Hardcopies/Print: Not included in pricing</p>
            </div>
          </a>
        </div>
      <% end %>
    </div>
