<div class="container" data-controller="calendly" >
  <%= render "shared/sidebar" %>
  <section class="content">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2><%= @appointment.name.capitalize %></h2>
      <%= link_to 'New Contact', new_appointment_path, class: "btn-photoshoot btn" %>
    </div>
    <div class="d-flex justify-content-between align-items-start">
      <div>
        <div class="d-flex justify-content-between align-items-center">
          <h6>Photoshoot Info</h6>
          <h6><%= link_to 'Create PhotoShoot', new_appointment_photo_shoot_path(@appointment) , class: "black-link"  if @appointment.photo_shoot.nil?  %> </h6>
        </div>
        <hr>
        <% if @appointment.present? %>
          <table class="bordered-table" data-calendly-target="table">
            <thead>
              <th>TYPE</th>
              <th>PHOTOGRAPHER</th>
              <th>EDITOR</th>
              <th>CSO</th>
              <th>STATUS</th>
              <th>OUTFITS</th>
            </thead>
            <tbody>
              <% if @appointment.photo_shoot %>
                <tr>
                  <td><%= @appointment.photo_shoot.type_of_shoot if @appointment.photo_shoot.type_of_shoot %></td>
                  <td><%= @appointment.photo_shoot.photographer.name if @appointment.photo_shoot.photographer %></td>
                  <td><%= @appointment.photo_shoot.editor.name if @appointment.photo_shoot.editor %></td>
                  <td><%= @appointment.photo_shoot.customer_service.name if @appointment.photo_shoot.customer_service %></td>
                  <td>
                    <%= @appointment.photo_shoot.status if @appointment.photo_shoot.status%>
                  </td>
                  <td>
                    <%= @appointment.photo_shoot.number_of_outfits if @appointment.photo_shoot.number_of_outfits %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p>No photoshoots linked to this contact</p>
        <% end %>
        <div class="d-flex justify-content-between align-items-center">
          <h6 class="mt-5">Sales Info</h6>
          <h6 class="mt-5"><%= link_to 'Add Sale', new_appointment_sale_path(@appointment), class: "black-link" %></h6>
        </div>
        <hr>
        <% if @appointment.sales.present? %>
          <table class="bordered-table" data-calendly-target="table">
            <thead>
              <th>PRODUCT</th>
              <th>AMOUNT</th>
              <th>STATUS</th>
              <th>METHOD</th>
              <th>DATE</th>
            </thead>
            <tbody>
            <% @appointment.sales.each do |sale| %>
              <% if sale %>
              <tr>
                <td><%= sale.product_service_name %></td>
                <td><%= sale.amount_paid %></td>
                <td><%= sale.payment_type %></td>
                <td>
                  <%= sale.payment_method%>
                </td>
                <td>
                  <%= sale.date.strftime("%A, %d %B %Y")%>
                </td>
              </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
        <% else %>
          <p>No Sales linked to this contact</p>
        <% end %>
        <div class="d-flex justify-content-between align-items-center">
          <h6 class="mt-5">Gallery Info</h6>
        </div>
        <hr>
        <% if @appointment.galleries.any? { |gallery| gallery.photos.attached? }  %>
          <% @appointment.galleries.each do |gallery| %>
            <p>View attached images <%= link_to "here", appointment_gallery_path(@appointment, gallery), class: "black-link" %></p>
          <% end %>
        <% else %>
            <p>Add a new <%= link_to 'gallery', new_appointment_gallery_path(@appointment), class: "black-link" %></p>
        <% end %>
      </div>
      <div>
        <h6>Contact Info</h6><hr>
        <div class="d-flex">
          <h2><%= image_tag "james-lee-YIy1cd3xN4w-unsplash.jpg", class: "avatar", alt: "dropdown menu" %>
          </h2>
          <div class="ps-2">
            <p><%= @appointment.name.capitalize %></p>
            <p><%= @appointment.email %></p>
          </div>
        </div>
        <div class="mt-4">
          <div class="mt-2 d-flex justify-content-between">
            <p>Type</p>
            <% type_of_shoots = @appointment.questions.find { |q| q.question == 'Type of shoots' || q.question == 'Type of shoot' } %>
            <% if type_of_shoots %>
              <div>
                <p><%= type_of_shoots.answer %></p>
              </div>
            <% end %>
          </div>
          <div class="mt-2">
            <p>Phone <span class="ps-5"><% phone_number = @appointment.questions.find { |q| q.question == 'Phone number' || q.question == 'Type of shoot' } %>
              <% if phone_number %>
                  <%= phone_number.answer %>
              <% end %>
      </p>
          </div>
          <div class="mt-2 d-flex justify-content-between">
            <p>Time</p>
            <p><%= @appointment.start_time.strftime("%A, %d %B %Y") %></p>
          </div>

          <div class="mt-2 d-flex justify-content-between">
            <p>Studio makeup artist? </p>
            <p><% question_makeup_two = @appointment.questions.find { |q| q.question == 'Are you doing makeup in our studio?' || q.question == 'Type of shoot' } %>
              <% if question_makeup_two %>
                  <%= question_makeup_two.answer %>
              <% end %>
            </p>
          </div>
          <div class="mt-2 d-flex justify-content-between">
            <p>Coming with a makeup artist?</p>
            <p><% question_makeup = @appointment.questions.find { |q| q.question == 'Are you coming with a makeup artist?' || q.question == 'Type of shoot' } %>
              <% if question_makeup %>
                <%= question_makeup.answer %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
