<table class="bordered-table" data-calendly-target="table">
        <thead>
          <tr>
            <th>DATE</th>
            <th>NAME</th>
            <th>C.S.O</th>
            <th>PRODUCT</th>
            <th>AMOUNT</th>
            <th>PAYMENT</th>
            <%# <th>Actions</th> %>
          </tr>
        </thead>
        <tbody>
          <% sales.each do |sale| %>
            <tr>
              <td><%= sale.date.to_date %></td>
              <td><%= sale.customer_name.split(" ").map(&:capitalize).join(" ") %></td>
              <td><%= sale.customer_service_officer_name || Staff.find(sale.staff_id).name %></td>
              <td><%= sale.product_service_name %></td>
              <td><%= sale.amount_paid %></td>
              <td><%= sale.payment_type %></td>
              <%# <td>
                <p><%= link_to 'Update Details', edit_sale_path(sale) %>
              <%# </td> %>
            </tr>
          <% end %>
        </tbody>
      </table>
