<!DOCTYPE html>
<html>
  <head>
    <title>363 Photography</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "public_ui", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <% if Rails.env.production? %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['GA_MEASUREMENT_ID'] %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '<%= ENV['GA_MEASUREMENT_ID'] %>');
      </script>
      <script>
        document.addEventListener("turbo:load", function () {
          if (typeof gtag === "function") {
            gtag("config", "<%= ENV['GA_MEASUREMENT_ID'] %>", {
              page_path: window.location.pathname
            });
          }
        });
      </script>
    <% end %>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body class="public-body">
    <div class="public-container">



      <div class="public-content">
        <% if notice %>
          <p class="g-util__notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="g-util__alert"><%= alert %></p>
        <% end %>

        <%= yield %>
      </div>

      <footer class="public-footer">
        <p>&copy; <%= Date.today.year %> 363 Photography. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
